@charset "UTF-8";

/* main layout style */

#wrap {width: 100%;}
#header {width: 100%; height: 300px; background: #111;}
#contents{width: 100%; height: 700px; background: #222;}
#footer{width: 100%; height: 300px; background: #333;}

/* contents layout style */
#cont_ad{}
#cont_news{}
#cont_board{}

/* sidebar layout style */
#loginbox{}
#ad_banner{}

/* container */
.container {position: relative; width:1130px; height: inherit; text-align: center; margin: 0 auto;}
.container1 {float: left; width: 0px; margin: 0px;}
.comtainer2 {position: absolute; float:right;}
